In [1]:
# Importing the required libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from IPython.display import clear_output,display

In [2]:
# importing the train and test datasets

train=pd.read_csv("train.csv")
test=pd.read_csv("test.csv")
sample_sub=pd.read_csv("sample_submission.csv")

In [3]:
train["Week_No"]=np.ceil(train["Day_No"]/7)
train["Year_No"]=np.ceil(train["Week_No"]/52)
train["Week_No"]=(train["Week_No"]%52)

train.loc[train["Week_No"]==0,"Week_No"]=train.loc[train["Week_No"]==0,"Week_No"].apply(lambda x: x+1)

In [4]:
test["Week_No"]=np.ceil(test["Day_No"]/7)
test["Year_No"]=np.ceil(test["Week_No"]/52)
test["Week_No"]=(test["Week_No"]%52)

test.loc[test["Week_No"]==0,"Week_No"]=test.loc[test["Week_No"]==0,"Week_No"].apply(lambda x: x+1)

In [5]:
train.drop(columns=["ID","Year_No","User_Traffic"],inplace=True)
test.drop(columns=["ID","Year_No"],inplace=True)

In [6]:
def export_submission(predictions,filename="Sample.csv"):
    
    ss=sample_sub.copy()
    ss["Sales"]=predictions
    ss.to_csv(f"{filename}.csv",index=False)

In [7]:
train

,Day_No,Course_ID,Course_Domain,Course_Type,Short_Promotion,Public_Holiday,Long_Promotion,Competition_Metric,Sales,Week_No
0,1,1,Development,Course,0,1,1,0.007,81,1.0
1,2,1,Development,Course,0,0,1,0.007,79,1.0
2,3,1,Development,Course,0,0,1,0.007,75,1.0
3,4,1,Development,Course,0,0,1,0.007,80,1.0
4,5,1,Development,Course,0,0,1,0.007,41,1.0
...,...,...,...,...,...,...,...,...,...,...
512082,878,600,Software Marketing,Program,0,0,1,0.070,114,22.0
512083,879,600,Software Marketing,Program,0,0,1,0.070,145,22.0
512084,880,600,Software Marketing,Program,0,0,1,0.070,167,22.0
512085,881,600,Software Marketing,Program,0,0,1,0.070,107,22.0
512086,882,600,Software Marketing,Program,1,0,1,0.070,152,22.0

### Preprocessing

In [91]:
train.isnull().sum()/train.shape[0]

Day_No                0.000000
Course_ID             0.000000
Course_Domain         0.000000
Course_Type           0.000000
Short_Promotion       0.000000
Public_Holiday        0.000000
Long_Promotion        0.000000
Competition_Metric    0.003445
Sales                 0.000000
Week_No               0.000000
dtype: float64

In [92]:
test.isnull().sum()/test.shape[0]

Day_No                0.000000
Course_ID             0.000000
Course_Domain         0.000000
Course_Type           0.000000
Short_Promotion       0.000000
Public_Holiday        0.000000
Long_Promotion        0.000000
Competition_Metric    0.003333
Week_No               0.000000
dtype: float64

**Missing values are very less in number**

In [93]:
train[train["Competition_Metric"].isnull()]

,Day_No,Course_ID,Course_Domain,Course_Type,Short_Promotion,Public_Holiday,Long_Promotion,Competition_Metric,Sales,Week_No
149014,1,176,Software Marketing,Course,0,1,0,NaN,120,1.0
149015,2,176,Software Marketing,Course,0,0,0,NaN,138,1.0
149016,3,176,Software Marketing,Course,0,0,0,NaN,132,1.0
149017,4,176,Software Marketing,Course,0,0,0,NaN,139,1.0
149018,5,176,Software Marketing,Course,0,0,0,NaN,95,1.0
...,...,...,...,...,...,...,...,...,...,...
302839,878,354,Development,Program,0,0,0,NaN,73,22.0
302840,879,354,Development,Program,0,0,0,NaN,97,22.0
302841,880,354,Development,Program,0,0,0,NaN,57,22.0
302842,881,354,Development,Program,0,0,0,NaN,57,22.0
302843,882,354,Development,Program,1,0,0,NaN,110,22.0

In [94]:
train[train["Course_ID"]==176]

,Day_No,Course_ID,Course_Domain,Course_Type,Short_Promotion,Public_Holiday,Long_Promotion,Competition_Metric,Sales,Week_No
149014,1,176,Software Marketing,Course,0,1,0,NaN,120,1.0
149015,2,176,Software Marketing,Course,0,0,0,NaN,138,1.0
149016,3,176,Software Marketing,Course,0,0,0,NaN,132,1.0
149017,4,176,Software Marketing,Course,0,0,0,NaN,139,1.0
149018,5,176,Software Marketing,Course,0,0,0,NaN,95,1.0
...,...,...,...,...,...,...,...,...,...,...
149891,878,176,Software Marketing,Course,0,0,0,NaN,144,22.0
149892,879,176,Software Marketing,Course,0,0,0,NaN,152,22.0
149893,880,176,Software Marketing,Course,0,0,0,NaN,87,22.0
149894,881,176,Software Marketing,Course,0,0,0,NaN,94,22.0
149895,882,176,Software Marketing,Course,1,0,0,NaN,227,22.0

In [95]:
test[test["Competition_Metric"].isnull()]["Course_ID"].value_counts()

354    60
176    60
Name: Course_ID, dtype: int64

In [96]:
test[test["Course_ID"]==354]

,Day_No,Course_ID,Course_Domain,Course_Type,Short_Promotion,Public_Holiday,Long_Promotion,Competition_Metric,Week_No
21180,883,354,Development,Program,1,0,0,NaN,23.0
21181,884,354,Development,Program,1,0,0,NaN,23.0
21182,885,354,Development,Program,1,0,0,NaN,23.0
21183,886,354,Development,Program,1,0,0,NaN,23.0
21184,887,354,Development,Program,0,0,0,NaN,23.0
21185,888,354,Development,Program,0,0,0,NaN,23.0
21186,889,354,Development,Program,0,0,0,NaN,23.0
21187,890,354,Development,Program,0,0,0,NaN,24.0
21188,891,354,Development,Program,0,0,0,NaN,24.0
21189,892,354,Development,Program,0,0,0,NaN,24.0
21190,893,354,Development,Program,0,0,0,NaN,24.0
21191,894,354,Development,Program,0,0,0,NaN,24.0
21192,895,354,Development,Program,0,0,0,NaN,24.0
21193,896,354,Development,Program,1,0,0,NaN,24.0
21194,897,354,Development,Program,1,0,0,NaN,25.0
21195,898,354,Development,Program,1,0,0,NaN,25.0
21196,899,354,Development,Program,1,0,0,NaN,25.0
21197,900,354,Development,Program,1,0,0,NaN,25.0
21198,901,354,Development,Program,0,0,0,NaN,25.0
21199,902,354,Development,Program,0,0,0,NaN,25.0
21200,903,354,Development,Program,0,0,0,NaN,25.0
21201,904,354,Development,Program,0,0,0,NaN,26.0
21202,905,354,Development,Program,0,0,0,NaN,26.0
21203,906,354,Development,Program,0,0,0,NaN,26.0
21204,907,354,Development,Program,0,0,0,NaN,26.0
21205,908,354,Development,Program,0,0,0,NaN,26.0
21206,909,354,Development,Program,0,0,0,NaN,26.0
21207,910,354,Development,Program,1,0,0,NaN,26.0
21208,911,354,Development,Program,1,0,0,NaN,27.0
21209,912,354,Development,Program,1,0,0,NaN,27.0
21210,913,354,Development,Program,1,0,0,NaN,27.0
21211,914,354,Development,Program,1,0,0,NaN,27.0
21212,915,354,Development,Program,0,0,0,NaN,27.0
21213,916,354,Development,Program,0,0,0,NaN,27.0
21214,917,354,Development,Program,0,0,0,NaN,27.0
21215,918,354,Development,Program,0,0,0,NaN,28.0
21216,919,354,Development,Program,0,0,0,NaN,28.0
21217,920,354,Development,Program,0,0,0,NaN,28.0
21218,921,354,Development,Program,0,0,0,NaN,28.0
21219,922,354,Development,Program,0,0,0,NaN,28.0
21220,923,354,Development,Program,0,0,0,NaN,28.0
21221,924,354,Development,Program,1,0,0,NaN,28.0
21222,925,354,Development,Program,1,0,0,NaN,29.0
21223,926,354,Development,Program,1,0,0,NaN,29.0
21224,927,354,Development,Program,1,0,0,NaN,29.0
21225,928,354,Development,Program,1,0,0,NaN,29.0
21226,929,354,Development,Program,0,0,0,NaN,29.0
21227,930,354,Development,Program,0,0,0,NaN,29.0
21228,931,354,Development,Program,0,0,0,NaN,29.0
21229,932,354,Development,Program,0,0,0,NaN,30.0
21230,933,354,Development,Program,0,0,0,NaN,30.0
21231,934,354,Development,Program,0,0,0,NaN,30.0
21232,935,354,Development,Program,0,0,0,NaN,30.0
21233,936,354,Development,Program,0,0,0,NaN,30.0
21234,937,354,Development,Program,0,0,0,NaN,30.0
21235,938,354,Development,Program,1,0,0,NaN,30.0
21236,939,354,Development,Program,1,0,0,NaN,31.0
21237,940,354,Development,Program,1,0,0,NaN,31.0
21238,941,354,Development,Program,1,0,0,NaN,31.0
21239,942,354,Development,Program,1,0,0,NaN,31.0

In [97]:
train[["Competition_Metric","Sales"]].corr()

                    Competition_Metric     Sales
Competition_Metric            1.000000 -0.022085
Sales                        -0.022085  1.000000

In [98]:
train.loc[(train["Course_ID"]==354) | (train["Course_ID"]==176),"Competition_Metric"]=train.groupby("Course_ID")["Competition_Metric"].mean().mean()

In [99]:
train.groupby("Course_ID").mean()

,Day_No,Short_Promotion,Public_Holiday,Long_Promotion,Competition_Metric,Sales,Week_No
Course_ID,,,,,,,
1,441.5,0.380952,0.028345,1.0,0.007,85.251701,23.071429
2,441.5,0.380952,0.031746,1.0,0.186,120.595238,23.071429
3,441.5,0.380952,0.027211,0.0,0.316,153.207483,23.071429
4,441.5,0.380952,0.027211,0.0,0.099,94.812925,23.071429
5,441.5,0.380952,0.031746,0.0,0.027,113.215420,23.071429
...,...,...,...,...,...,...,...
596,441.5,0.380952,0.027211,1.0,0.070,84.924036,23.071429
597,441.5,0.380952,0.031746,1.0,0.025,91.241497,23.071429
598,441.5,0.380952,0.031746,0.0,0.025,180.100907,23.071429
599,441.5,0.380952,0.027211,0.0,0.122,116.346939,23.071429
600,441.5,0.380952,0.029478,1.0,0.070,109.198413,23.071429

In [100]:
test.loc[(test["Course_ID"]==354) | (test["Course_ID"]==176),"Competition_Metric"]=train.groupby("Course_ID")["Competition_Metric"].mean().mean()

In [101]:
test.groupby("Course_ID").mean()

,Day_No,Short_Promotion,Public_Holiday,Long_Promotion,Competition_Metric,Week_No
Course_ID,,,,,,
1,912.5,0.4,0.000000,1.0,0.007,26.8
2,912.5,0.4,0.016667,1.0,0.186,26.8
3,912.5,0.4,0.000000,0.0,0.316,26.8
4,912.5,0.4,0.000000,0.0,0.099,26.8
5,912.5,0.4,0.016667,0.0,0.027,26.8
...,...,...,...,...,...,...
596,912.5,0.4,0.000000,1.0,0.070,26.8
597,912.5,0.4,0.016667,1.0,0.025,26.8
598,912.5,0.4,0.016667,0.0,0.025,26.8
599,912.5,0.4,0.000000,0.0,0.122,26.8
600,912.5,0.4,0.016667,1.0,0.070,26.8

In [ ]:
train.